<script src="/scripts/mobile.js" defer></script>
<script src="/scripts/switch-theme.js" defer></script>
<header id="main-header">
  <section class="d-flex">
    <article class="fw-bold fs-3 me-2">WPF Shop</article>
    <section class="form-check form-switch" style="margin-top: 6%">
      <input
        class="form-check-input"
        type="checkbox"
        role="button"
        id="switchCheck"
      />
    </section>
  </section>
  <nav><%- include('nav-items') %></nav>
  <button id="mobile-menu-btn">
    <span></span>
    <span></span>
    <span></span>
  </button>
</header>
<aside id="mobile-menu">
  <nav><%- include('nav-items') %></nav>
</aside>
