<ul class="nav-items">
  <% if (locals.isAuth) { %>
  <li>
    <a href="/products" class="d-flex flex-column">
      <i class="fa-solid fa-shop text-center"></i>
      Shop
    </a>
  </li>
  <% } %> <% if (locals.isAuth && !locals.isAdmin) { %>
  <li>
    <a href="/cart" class="d-flex flex-column">
      <i class="fa-solid fa-cart-shopping text-center"></i>
      <div>
        Cart
        <span class="badge"><%= locals.cart.totalQuantity %></span>
      </div>
    </a>
  </li>
  <li>
    <a href="/orders" class="d-flex flex-column">
      <i class="fa-solid fa-receipt text-center"></i>
      Orders
    </a>
  </li>
  <% } %> <% if (locals.isAdmin) { %>
  <li>
    <a href="/categories" class="d-flex flex-column">
      <i class="fa-solid fa-layer-group text-center"></i>
      Categories
    </a>
  </li>
  <li>
    <a href="/admin/orders" class="d-flex flex-column">
      <i class="fa-solid fa-receipt text-center"></i>
      Orders
    </a>
  </li>
  <li>
    <a href="/accounts" class="d-flex flex-column">
      <i class="fa-solid fa-user-group text-center"></i>
      Accounts
    </a>
  </li>
  <li>
    <a href="/admin/statistic" class="d-flex flex-column">
      <i class="fa-solid fa-chart-column text-center"></i>
      Statistic
    </a>
  </li>
  <% } %> <% if (!locals.isAuth) { %>
  <li><a href="/signup">Signup</a></li>
  <li><a href="/login">Login</a></li>
  <% } %> <% if (locals.isAuth) { %>
  <li>
    <a href="/profile" class="d-flex flex-column">
      <i class="fa-solid fa-user text-center"></i>
      Profile
    </a>
  </li>
  <li>
    <form action="/logout" method="POST">
      <input type="hidden" name="_csrf" value="<%= locals.csrfToken %>" />
      <button class="btn-alt d-flex">
        <i class="fa-solid fa-door-open me-2" style="margin-top: 5%"></i>
        Logout
      </button>
    </form>
  </li>
  <% } %>
</ul>
