<ul class="nav-items">
  <% if (locals.isAuth) { %> <% if (!locals.isAdmin) { %>
  <li>
    <a href="/products" class="d-flex flex-column">
      <i class="fa-solid fa-shop text-center"></i>
      Shop
    </a>
  </li>
  <li>
    <a href="/cart" class="d-flex flex-column">
      <i class="fa-solid fa-cart-shopping text-center"></i>
      <div>
        Cart
        <span class="badge"><%= locals.cart.totalQuantity %></span>
      </div>
    </a>
  </li>
  <li>
    <a href="/orders" class="d-flex flex-column">
      <i class="fa-solid fa-receipt text-center"></i>
      Orders
    </a>
  </li>
  <% } else { %>
  <li class="dropdown">
    <article role="button" data-toggle="dropdown" class="d-flex">
      <article class="d-flex flex-column">
        <i class="fa-solid fa-list-check text-center"></i>
        Management
      </article>
      <i class="fa-solid fa-caret-down my-auto"></i>
    </article>
    <ul class="dropdown-menu">
      <li>
        <a href="/categories" class="d-flex gap-2">
          <i class="fa-solid fa-layer-group my-auto"></i>
          Categories
        </a>
      </li>
      <li>
        <a href="/accounts" class="d-flex gap-2">
          <i class="fa-solid fa-user-group my-auto"></i>
          Accounts
        </a>
      </li>
      <li>
        <a href="/vouchers" class="d-flex gap-2">
          <i class="fa-solid fa-ticket my-auto me-1"></i>
          Vouchers
        </a>
      </li>
    </ul>
  </li>

  <li class="manage">
    <a href="/categories" class="d-flex flex-column">
      <i class="fa-solid fa-layer-group text-center"></i>
      Categories
    </a>
  </li>

  <li class="manage">
    <a href="/accounts" class="d-flex flex-column">
      <i class="fa-solid fa-user-group text-center"></i>
      Accounts
    </a>
  </li>

  <li class="manage">
    <a href="/vouchers" class="d-flex flex-column">
      <i class="fa-solid fa-ticket text-center"></i>
      Vouchers
    </a>
  </li>

  <li>
    <a href="/admin/orders" class="d-flex flex-column">
      <i class="fa-solid fa-receipt text-center"></i>
      Orders
    </a>
  </li>

  <li>
    <a href="/admin/statistic" class="d-flex flex-column">
      <i class="fa-solid fa-chart-column text-center"></i>
      Statistic
    </a>
  </li>
  <% } %>
  <li>
    <a href="/profile" class="d-flex flex-column">
      <i class="fa-solid fa-user text-center"></i>
      Profile
    </a>
  </li>
  <li>
    <form action="/logout" method="POST">
      <input type="hidden" name="_csrf" value="<%= locals.csrfToken %>" />
      <button class="d-flex">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <i class="fa-solid fa-door-open me-2 my-auto"></i>
        Logout
      </button>
    </form>
  </li>
  <% } %>
</ul>
