<%- include('../../shared/includes/head', { pageTitle: 'All Categories' }) %>
<script src="/scripts/category-management.js" defer></script>
</head>
<body>
  <%- include('../../shared/includes/header') %>
  <main>
    <h1>Category Management</h1>
    <section>
      <p>
        <a href="/admin/categories/new" class="btn mt-3">Add Category</a>
      </p>
    </section>
    <section>
      <ul>
        <% for (const category of categories) { %>
          <li>
            <%- include('../../shared/includes/category-item', { category: category }) %>
          </li>
        <% } %>
      </ul>
    </section>
  </main>
<%- include('../../shared/includes/footer') %>