<%- include('../../shared/homepage/head', { pageTitle: 'Add new account' }) %>
<link rel="stylesheet" href="/styles/forms.css">
</head>
<body>
  <%- include('../../shared/homepage/header') %>
  <main>
    <h1>Add new Account</h1>
    <%- include('includes/account-form', { submitPath: '/admin/accounts', account: {
      username: '',
      password: '',
      confirmPassword: '',
      name: '',
      street: '',
      postal: '',
      city: ''
    }}) %>
  </main>
<%- include('../../shared/homepage/footer') %>