h1 {
  text-align: center;
}

form {
  max-width: 25rem;
  margin: var(--space-8) auto;
  padding: var(--space-4);
  background-color: black;
  border-radius: var(--border-radius-medium);
  text-align: center;
}

#switch-form a {
  color: var(--color-primary-200);
}

#btn-google {
  background-color: crimson;
  border: 1px solid crimson;
}

#btn-facebook {
  background-color: #0866ff;
  border: 1px solid #0866ff;
}
