form {
  max-width: 25rem;
  margin: 0 auto var(--space-8);
  padding: var(--space-4);
  border-radius: var(--border-radius-medium);
}

#btn-google {
  background-color: crimson;
  border: 1px solid crimson;
}

#btn-facebook {
  background-color: #0866ff;
  border: 1px solid #0866ff;
}
