<%- include('../../shared/homepage/head', { pageTitle: 'All Your Orders' }) %>
<link rel="stylesheet" href="/styles/orders.css">
</head>
<body>
  <%- include('../../shared/homepage/header') %>
  <main>
    <%- include('../../shared/homepage/order-list') %>
  </main>
<%- include('../../shared/homepage/footer') %>