<%- include('../../shared/homepage/head', { pageTitle: 'Update account' }) %>
<link rel="stylesheet" href="/styles/forms.css">
<script src="/scripts/image-preview.js" defer></script>
</head>
<body>
  <%- include('../../shared/homepage/header') %>
  <main>
    <h1>Update Account</h1>
    <%- include('./includes/account-form-update', { submitPath: '/accounts/' + account.id, account: account }) %>
  </main>
<%- include('../../shared/homepage/footer') %>